<!DOCTYPE html>
<html>
<head>
<title>Buttons in Magnet Framework</title>
</head>
<body align="center">

To use buttons in Magnet Framework use the following :

<h2>Default buttons</h2>
<p>These are the default buttons in the Magnet framework.<br /> Use the class <code>magnet-button</code> to use this.</p>
<input class="magnet-button" type="button" value="Submit" name="Submit"><br /><br />


<h2>Disabled buttons</h2>
<input disabled class="magnet-button" type="button" value="Submit" name="Submit"><br /><br />

<h2>Active buttons</h2>

<input class="magnet-button active" type="button" value="Submit" name="Submit"><br /><br />


<h2>Various Sizes</h2>
<input class="magnet-button" type="button" value="Submit" name="Submit"><br /><br />
<input class="magnet-button btn-large" type="button" value="Submit" name="Submit"><br /><br />
<input class="magnet-button btn-medium" type="button" value="Submit" name="Submit"><br /><br />

<h2>Black Buttons</h2>
<a class="magnet-button btn-black" href="">Button with a class</a><br /><br />
<input type="button" class="magnet-button btn-black" value="Submit" name="Submit"><br /><br />b


<h2>Blue Buttons</h2>
<input class="magnet-button btn-blue" type="button" value="Submit" name="Submit"><br /><br />
<a class="magnet-button btn-blue" href="">Button with a class</a><br /><br />

<h2>Green Buttons</h2>
<p>
<input class="magnet-button btn-green" type="button" value="Submit" name="Submit"><br /><br />
<a class="magnet-button btn-green" href="">Button with a class</a>
</p>

<h2>Red Buttons</h2>
<input class="magnet-button btn-red" type="button" value="Submit" name="Submit"><br /><br />
<a class="magnet-button btn-red" href="">Button with a class</a><br /><br />

</body>
</html>