<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/3.0.2/normalize.css">
<link rel="stylesheet" type="text/css" href="tables.css">
<title>Tables | Magnet Framework</title>
<body>

<p align="center">

  The following classes are used while definiing tables. <br />

  Use the class <code>.magnet-table</code> with table to use Magnet Framework in your project. <br /><br /> </p>

    <table align="center" class="magnet-table">
    <tr>
    <th>Serial no</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Points</th>
    <th>Something</th>
    </tr>
    <tr>
      <td>#1</td>
      <td>Jill</td>
      <td>Smith</td>    
      <td>50</td>
      <td>Something</td>
    </tr>
    <tr>
      <td>#2</td>
      <td>Eve</td>
      <td>Jackson</td>    
     <td>94</td>
     <td>Something</td>
    </tr>
    <tr>
      <td>#3</td>
      <td>John</td>
      <td>Doe</td>    
      <td>80</td>
      <td>Something</td>
    </tr>
    </table>



</body>
</head>
</html>