<html>
<head>
<title>Magnet - Forms</title>
</head>
<body>

The following are forms components in the Magnet Framework.

<h2>Text Form</h2>

<input type="text" class="magnet-form-text"><br /><br />

<h2>Text Form without borders</h2>

<input type="text" class="magnet-form-text no-borders"><br /><br />

<h2>Text Area</h2>

<textarea class="magnet-textarea"></textarea><br /><br />

<h2>Text Area without Borders</h2>

<textarea class="magnet-textarea  no-borders"></textarea>

<h2>Text Area with Scrolling disabled</h2>

<textarea class="magnet-textarea no-scroll"></textarea><br /><br />

<h2>Radio Buttons</h2>

<input type="radio" name="sex" value="male">Male<br />
<input type="radio" name="sex" value="female">female<br />

<h2>Disabled text form</h2>

<input type="text" disabled class="magnet-form-text"><br /><br />

<h2>Disabled Textrea</h2>

<textarea disabled class="magnet-textarea"></textarea><br /><br />


<h2>Dropdown Menu</h2>
<select class="magnet-dropdown">
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option>
</select>


</body>



</html>